<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249092633208-40buacfenjlibs6ibmvptm1icpj8clcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249092633208-40buacfenjlibs6ibmvptm1icpj8clcr</string>
	<key>API_KEY</key>
	<string>AIzaSyC9jhBMh6sIYXawmxVRzpQbAVEusoQf-y4</string>
	<key>GCM_SENDER_ID</key>
	<string>249092633208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.americanDreamOsh</string>
	<key>PROJECT_ID</key>
	<string>americantest-a2b9a</string>
	<key>STORAGE_BUCKET</key>
	<string>americantest-a2b9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249092633208:ios:fca4117119278ea50a338d</string>
	<key>DATABASE_URL</key>
	<string>https://americantest-a2b9a-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>